body {
  background-color: beige;
  text-align: center;
  font-family: "Cabin";
}

img {
  width: 100px;
  padding: 0px 10px;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 36px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

p {
  font-size: 24px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

ul {
  font-size: 24px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

li {
  padding-left: 0px;
}

.quote {
  font-style: italic
}

.box {
  font-size: 24px;
  float: left;
  border: 1px solid #000;
  width: 300px;
  margin: 0px 4px;
}

img {
  width: 280px;
}

.horizontalBoxes {
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 0;
}